.blog-section {
  background-color: rgba(18, 23, 28, 0.85);
  width: 100%;
  margin: 1rem 0;
  border-radius: 15px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.blog-card h1 {
    margin: auto;
}