.hero-container {
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.hero-container img {
    margin: auto;
    border-radius: 15px;
    width: 768px;
    height: 300px;
    padding: 0;
}