nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(18, 23, 28, 0.85);
  width: 100%;
}

.nav-logo {
    font-size: 18px;
}

.nav-left {
    padding: 0 1rem;
}

.nav-middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  gap: 6rem;
  flex-direction: row;
  list-style-type: none;
}

nav img {
  width: 24px;
  height: 24px;
}

.nav-right {
    padding: 0 1rem;
}

.nav-right img {
    width: 32px;
    height: 32px;
}