.news-card {
    display: flex;
    justify-content: space-between;
}

.news-card img{
    width: 9rem;
    height: 9rem;
    overflow: hidden;

    margin: 1rem;
    border-radius: 15px;
}

.news-card a {
    text-decoration: none;
    color: #FEFEFE;
}

.news-card h1 {
    font-size: 20px;
}