body {
  font-family: "Inter", "Lucida Console", "Courier New", monospace;
  background-color: rgba(0, 0, 0);
  color: #EAEAE3;
  margin: 0;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

small {
  color: #b4b4b4
}